@font-face {
  font-family: "Consolas";
  src: url("fonts/Consolas/Consolas.eot"); /* IE9*/
  src: url("fonts/Consolas/Consolas.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("fonts/Consolas/Consolas.woff2") format("woff2"), /* chrome、firefox */
  url("fonts/Consolas/Consolas.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("fonts/Consolas/Consolas.svg#Consolas") format("svg"); /* iOS 4.1- */
}
@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans/OpenSans-Light-webfont.eot');
    src: url('fonts/OpenSans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans/OpenSans-Light-webfont.woff') format('woff'),
         url('fonts/OpenSans/OpenSans-Light-webfont.ttf') format('truetype'),
         url('fonts/OpenSans/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/OpenSans/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/OpenSans/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans/OpenSans-Bold-webfont.eot');
    src: url('fonts/OpenSans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans/OpenSans-Bold-webfont.woff') format('woff'),
         url('fonts/OpenSans/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('fonts/OpenSans/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

body { font-family: OpenSans, sans-serif; font-size: 14px; margin: 0; }
a { color: inherit; font-style: normal; text-decoration: none; }
p { margin: 0; }

.container { width: 1200px; margin: 0 auto; }

.boxed { border: solid 1px #dbdbdb; padding: 15px; }
  .boxed > .box-title { text-align: center; margin: 0 0 30px 0; font-weight: bold; }
.monospace { font-family: Consolas, monaco, monospace; }

.header { margin-bottom: 15px; }
  .header .logo { font-family: Consolas, monaco, monospace; text-align: center; font-weight: bold; font-size: 32px; margin: 30px 0; }
  .header .nav-menu { font-size: 16px; display: flex; border: solid 1px #dbdbdb; padding: 10px 20px; }
    .header .nav-menu > a { margin-right: 30px; }

.node100 { display: flex; }
  .node100 .node101 { margin-right: 15px; flex-basis: 900px; }
  .node100 .node102 { flex-grow: 1; }
.node103 { margin-bottom: 15px; }
  .node103 .images { display: flex; flex-wrap: wrap; justify-content: space-evenly; margin-bottom: -15px; }
    .node103 .images > * { flex-basis: calc(100% / 4 - 10px); display: flex; flex-direction: column; align-items: center; text-align: center; margin-bottom: 30px; }
      .node103 .images > * .image { width: 130px; height: 97px; background: #000; }
        .node103 .images > * .image img {  }
      .node103 .images > * .title {  }
.node104 { margin-bottom: 15px; }
  .node104 .map { width: 270px; height: 200px; background: #000; margin: 0 auto; }
  .node104 .map + p { text-align: center; margin-top: 5px; }

.node105 .authors { display: flex; flex-wrap: wrap; justify-content: space-between; }
  .node105 .authors > * { flex-basis: calc(100% / 3 - 10px); text-align: center; margin-bottom: 10px; }