@font-face {
  font-family: "Consolas";
  src: url("fonts/Consolas/Consolas.eot"); /* IE9*/
  src: url("fonts/Consolas/Consolas.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("fonts/Consolas/Consolas.woff2") format("woff2"), /* chrome、firefox */
  url("fonts/Consolas/Consolas.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("fonts/Consolas/Consolas.svg#Consolas") format("svg"); /* iOS 4.1- */
}
@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans/OpenSans-Light-webfont.eot');
    src: url('fonts/OpenSans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans/OpenSans-Light-webfont.woff') format('woff'),
         url('fonts/OpenSans/OpenSans-Light-webfont.ttf') format('truetype'),
         url('fonts/OpenSans/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/OpenSans/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/OpenSans/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans/OpenSans-Semibold-webfont.eot');
    src: url('fonts/OpenSans/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans/OpenSans-Semibold-webfont.woff') format('woff'),
         url('fonts/OpenSans/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('fonts/OpenSans/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans/OpenSans-Bold-webfont.eot');
    src: url('fonts/OpenSans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans/OpenSans-Bold-webfont.woff') format('woff'),
         url('fonts/OpenSans/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('fonts/OpenSans/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

* { box-sizing: border-box; }
html, body { height: 100%; }
body { font-family: OpenSans, sans-serif; font-size: 14px; margin: 0; }
a { color: inherit; font-style: normal; text-decoration: none; }
p { margin: 0; }
img, svg { max-width: 100%; max-height: 100%; }
input[type="text"],
input[type="number"],
select, textarea { width: 100%; font: 13px/1 Consolas, monaco, monospace; border: solid 1px #dbdbdb; padding: 3px 2px; }
input[type="checkbox"] { margin: 0; }
input[type="checkbox"] + label { margin-left: 4px; }
[data-type="x-template"] { display: none; }
select { padding: 1px 0; }

.si-error { display: none; color: #ff4d4d; font-size: 14px; text-align: center; }
.fa-spinner { -webkit-animation: rotate 2s infinite linear; animation: rotate 2s infinite linear; }

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}

.select2-container { font-size: 13px; line-height: 1; }
  .select2-dropdown,
  .select2-container--default .select2-selection--single { border-radius: 0; }
  .select2-container--default .select2-selection--multiple { border-radius: 0; border-color: #dbdbdb; min-height: unset; }
  .select2-container--default .select2-selection--multiple .select2-selection__rendered { padding: 0px 5px 3px 5px; }
  .select2-container--default .select2-selection--multiple .select2-selection__choice { padding: 0 5px 2px 2px; margin: 5px 5px 0px; }

.no-image { width: 100%; height: 100%; background: url(img/no-image.svg) 50% no-repeat; background-size: cover; }

.container { width: 1200px; margin: 0 auto; }

.boxed { border: solid 1px #dbdbdb; padding: 15px; }
  .boxed > .box-title { text-align: center; margin: 0 0 30px 0; font-weight: bold; }
    .boxed > .box-title .small { font-weight: normal; }
.monospace { font-family: Consolas, monaco, monospace; }

.map > iframe { width: 100%; height: 100%; border: none; }

.navigation { font-size: 11px; text-align: center; margin: 0 auto; display: flex; justify-content: center; align-items: center; }
  .navigation .n_back, .navigation .n_next { background: linear-gradient(to bottom,#fff 0%,#f0f0f0 100%); border-radius: 4px; margin: 0 4px; box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.24); color: #717e83; }
    .navigation svg { width: 10px; height: 11px; vertical-align: middle; position: relative; top: -1px; }
    .navigation .n_back svg { margin-right: 4px; }
    .navigation .n_next svg { margin-left: 4px; }
    .navigation .n_back > *, .navigation .n_next > * { padding: 6px 21px; display: block; }
    .navigation .n_back > a:hover, .navigation .n_next > a:hover { color: #57bbde; }
  .navigation .navi_link {  }
  .navigation .navi_link span { border-radius: 6px; color: #fff; display: inline-block; text-shadow: 0 1px 0 rgba(0,0,0,0.23); padding: 5px 7px 6px 7px; background: #57bbde; }
  .navigation .navi_link a, .navigation span.nav_ext{ background: #fff; margin: 1px 2px 0 2px; background: linear-gradient(to bottom,#fff 0%,#f0f0f0 100%); border-radius: 6px; text-shadow: 0 1px 0 rgba(255,255,255,1); color: #717e83; display: inline-block; padding: 5px 7px 6px 7px; box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.24); }
  .navigation .navi_link a:hover { color: #fff; text-shadow: 0 1px 0 rgba(0,0,0,0.23); background: #125067; box-shadow: none; text-decoration: none; }

.actions-wrapper { display: flex; height: 40px; align-items: center; flex-grow: 1; margin-bottom: 15px; }
  .action-btn { border: 1px solid #337ca1; background-color: #3d94c0; color: #fff; padding: 6px 14px; border-radius: 2px; display: inline-flex; align-items: center; cursor: pointer; box-sizing: border-box; }
  .action-btn + .action-btn { margin-left: 8px; }
  .action-btn:hover { background-color: #337ca1; }
  .action-btn.orange { background-color: #d79723; border-color: #c58f2e; }
  .action-btn.orange:hover { background-color: #c28922; }
  .action-btn.grey { background-color: #626e7f; border-color: #4f5764; }
  .action-btn.grey:hover { background-color: #4f5764; }
  .action-btn.red { background-color: #b95d5d; border-color: #a54747; }
  .action-btn.red:hover { background-color: #a54747; }
  .action-btn.disabled,
  .action-btn.grey.disabled,
  .action-btn.red.disabled { background-color: #959595; border-color: #959595; cursor: not-allowed; }
    .action-btn svg { width: 15px; height: 15px; margin-left: 7px; }

.popup-wrapper { position: fixed; background-color: #00000087; top: 0; left: 0; width: 100%; height: 100%; display: none; align-items: center; justify-content: center; }
  .popup-wrapper > .popup { font-size: 14px;  background-color: #fff; color: #636363; min-width: 300px; max-width: 500px; }
    .popup-wrapper > .popup .title { margin: 0; padding: 10px 15px; font-weight: bold; }
    .popup-wrapper > .popup .inner { padding: 15px; display: flex; flex-direction: column; }
      .popup-wrapper > .popup .inner .message { margin-bottom: 15px; }
        .popup-wrapper > .popup .inner .message .select2-container,
        .popup-wrapper > .popup .inner .message select { width: 100%; }
        .popup-wrapper > .popup .inner .message .select2-container { margin-top: 16px; }
      .popup-wrapper > .popup .inner .actions-wrapper { justify-content: flex-end; margin-bottom: 0; }
    .popup-wrapper#error > .popup .title { color: #fff; background-color: #fa3030; }
      .popup-wrapper#error > .popup .inner .message { max-height: 400px; overflow: scroll; white-space: pre; font: 100 11px/1 monospace; }
    .popup-wrapper#warning > .popup .title { color: #fff; background-color: #ffac00; font-size: 19px; padding: 6px 15px; display: flex; align-items: center; }
      .popup-wrapper#warning > .popup .title svg { width: 20px; height: 20px; }

.header { margin-bottom: 15px; }
  .header .logo { font-family: Consolas, monaco, monospace; text-align: center; font-weight: bold; font-size: 32px; margin: 30px 0; }
  .header .nav-menu { font-size: 16px; display: flex; border: solid 1px #dbdbdb; }
    .header .nav-menu .pages > a { padding: 9px 15px; display: inline-block; }
    .header .nav-menu .pages > a.active { background-color: #dbdbdb; }
    .header .nav-menu .user { margin-left: auto; padding-right: 20px; display: flex; align-items: center; }
      .header .nav-menu .user .icon-user { width: 15px; height: 15px; margin-right: 8px; color: #dbdbdb; }
      .header .nav-menu .user .logout { width: 15px; height: 15px; margin-left: 8px; cursor: pointer; }

.node108 .items .row { display: flex; justify-content: space-between; align-items: center; }
.node108 .items .row + .row { margin-top: 8px; }
.node108 .items .row.title { font-size: 12px; color: #8e8e8e; }
  .node108 .items .row .l { flex-grow: 1; display: flex; align-items: center; }
    .node108 .items .row .l > .delete { width: 18px; height: 18px; margin-right: 8px; color: #3d94c0; cursor: pointer; }
  .node108 .items .row .r { margin-left: 8px; }
.node108 .items > .select2 { position: absolute; }

.page-home > .container { display: flex; }
  .page-home .node101 { margin-right: 15px; flex-basis: 900px; }
  .page-home .node102 { flex-grow: 1; }
  .page-home .node103 { margin-bottom: 15px; }
    .page-home .node103 .images { display: flex; flex-wrap: wrap; justify-content: space-evenly; margin-bottom: -15px; }
      .page-home .node103 .images > * { flex-basis: calc(100% / 4 - 10px); display: flex; flex-direction: column; align-items: center; text-align: center; margin-bottom: 30px; }
        .page-home .node103 .images > * .image { width: 130px; height: 98px; display: flex; align-items: center; justify-content: center; }
          .page-home .node103 .images > * .image img {  }
        .page-home .node103 .images > * .title {  }
  .page-home .node104 { margin-bottom: 15px; }
    .page-home .node104 .map { width: 270px; height: 200px; background: #dbdbdb; margin: 0 auto; }
    .page-home .node104 .map + p { text-align: center; margin-top: 5px; }
  .page-home .node105 .authors { display: flex; flex-wrap: wrap; justify-content: space-between; }
    .page-home .node105 .authors > * { flex-basis: calc(100% / 3 - 10px); text-align: center; margin-bottom: 10px; }

.page-graffitis .table { display: flex; flex-direction: column; border: solid 1px #dbdbdb; margin-bottom: 30px; }
  .page-graffitis .table .row { display: flex; justify-content: space-between; padding: 10px 0; }
  .page-graffitis .table .row + .row { border-top: solid 1px #dbdbdb; }
    .page-graffitis .table .row > * { padding: 0 20px; display: flex; align-items: center; justify-content: flex-end; }
    .page-graffitis .table .row > * + * { border-left: solid 1px #dbdbdb; position: relative; }
    .page-graffitis .table .row > * + *::before { content: ''; position: absolute; top: -20px; left: -10px; background-color: #fff; width: 20px; height: 20px; }
    .page-graffitis .table .row > .col1 { flex-basis: 100px; }
    .page-graffitis .table .row > .col2 { flex-basis: 140px; justify-content: center; }
    .page-graffitis .table .row > .col3 { flex-grow: 1; justify-content: flex-start; }
    .page-graffitis .table .row > .col4 { flex-basis: 140px; }
    .page-graffitis .table .row > .col5 { flex-basis: 100px; }
      .page-graffitis .table .graffiti-img { width: 100px; height: 75px; display: flex; align-items: center; justify-content: center; }
    .page-graffitis .table .row.head > * { justify-content: center; }
  .page-graffitis .navigation { margin-bottom: 30px; }
.page-graffitis .search { display: flex; flex-direction: column; align-items: center; margin: -43px 0 30px 0; }
  .page-graffitis .search > .title { display: flex; align-items: center; cursor: pointer; }
    .page-graffitis .search > .title .icon { width: 13px; height: 14.5px; margin-left: 5px; }
  .page-graffitis .search > .wrp { width: 100%; display: none; }
  .page-graffitis .search .row1 { margin: 15px 0; width: 100%; display: flex; align-items: flex-start; }
    .page-graffitis .search .row1 > .node108 { margin-right: 15px; flex-basis: 233px; }
    .page-graffitis .search .row1 > .node120 { flex-basis: 390px; margin-right: 15px; }
    .page-graffitis .search .row1 > .node120.date { flex-basis: 220px; }
    .page-graffitis .search .row1 .node120 .descr { display: flex; flex-direction: column; }
    .page-graffitis .search .row1 .node120 .descr > .row { display: flex; justify-content: space-between; }
    .page-graffitis .search .row1 .node120 .descr > .row + .row { margin-top: 8px; }
      .page-graffitis .search .row1 .node120 .descr > .row > .l { text-align: right; min-width: 66px; margin-right: 14px;}
      .page-graffitis .search .row1 > .node120.date .descr > .row > .l { min-width: 48px; }
      .page-graffitis .search .row1 .node120 .descr > .row > .r { flex-grow: 1; }
    .page-graffitis .search .row1 > .node121 { display: flex; flex-direction: column; flex-grow: 1; }
      .page-graffitis .search .node121_1 { margin-bottom: 15px; }
        .page-graffitis .search .node121_1 .tags-input { width: 100%; }
      .page-graffitis .search .node121_2 { width: 200px; }
  .page-graffitis .search .actions-wrapper { justify-content: center; margin-bottom: 0; }
  .page-graffitis .search .row2 > .map { background-color: #dbdbdb; width: 750px; height: 530px; margin: 20px auto 0 auto; }

.page-graffiti {  }
  .page-graffiti .row1 { display: flex; align-items: flex-start; }
    .page-graffiti .row1 .node100 { flex-basis: 255px; margin-right: auto; }
      .page-graffiti .row1 .node100 .descr { display: flex; flex-direction: column; }
        .page-graffiti .row1 .node100 .descr > .row { display: flex; justify-content: space-between; }
        .page-graffiti .row1 .node100 .descr > .row + .row { margin-top: 8px; }
          .page-graffiti .row1 .node100 .descr > .row > * { flex-basis: calc(50% - 7px); }
          .page-graffiti .row1 .node100 .descr > .row > .l {  text-align: right; font-weight: bold; }
    .page-graffiti .row1 .link-prev,
    .page-graffiti .row1 .link-next { margin: auto; visibility: hidden; }
      .page-graffiti .row1 .link-prev svg,
      .page-graffiti .row1 .link-next svg { width: 50px; height: 80px; color: #888; }
    .page-graffiti .row1 .node102 { max-width: 480px; }  
      .page-graffiti .row1 .node102 .graffiti-image { width: 480px; height: 360px; display: flex; align-items: center; justify-content: center; }
        .page-graffiti .row1 .node102 .graffiti-image img { cursor: zoom-in; }
      .page-graffiti .row1 .node102 .tags { margin-top: 20px; display: flex; flex-wrap: wrap; }
        .page-graffiti .row1 .node102 .tags > * { background-color: #f0f2f5; margin: 0 10px 7px 0; padding: 3px 8px; border-radius: 3px; color: #566d96; font-weight: 500; font-size: 13px; }
    .page-graffiti .row1 .node101 { flex-basis: 255px; margin-left: auto; }
      .page-graffiti .row1 .node101 .items { display: flex; flex-direction: column; }
      .page-graffiti .row1 .node101 .items > * { display: flex; align-items: center; }
      .page-graffiti .row1 .node101 .items > * + * { margin-top: 8px; }
        .page-graffiti .row1 .node101 .items > * svg { width: 15px; height: 15px; margin-right: 10px; visibility: hidden; }
        .page-graffiti .row1 .node101 .items > .checked svg { visibility: visible; }
  .page-graffiti .row2 { display: flex; align-items: flex-start; margin-top: 40px; }
    .page-graffiti .row2 .node104 { flex-grow: 1; margin-right: 15px; }
      .page-graffiti .row2 .node104 .descr { display: flex; flex-direction: column; }
      .page-graffiti .row2 .node104 .descr > .row { display: flex; justify-content: space-between; }
      .page-graffiti .row2 .node104 .descr > .row + .row { margin-top: 8px; }
        .page-graffiti .row2 .node104 .descr > .row > .l { text-align: right; font-weight: bold; min-width: 66px; margin-right: 14px;}
        .page-graffiti .row2 .node104 .descr > .row > .r { flex-grow: 1; }
    .page-graffiti .row2 .node105 { flex-basis: calc(100% / 3); margin: 0 15px; }
    .page-graffiti .row2 .node106 { margin-left: 15px; }
      .page-graffiti .row2 .node106 > .map { width: 265px; height: 225px; background-color: #dbdbdb; }
      .page-graffiti .row2 .node106 > p { margin-top: 5px; text-align: center; }

.page-graffiti-add {  }
  .page-graffiti-add .row1 { display: flex; align-items: flex-start; }
    .page-graffiti-add .row1 > .node107 { flex-basis: 255px; display: flex; flex-direction: column; }
      .page-graffiti-add .row1 > .node107 > .node107_1 { margin-bottom: 15px; }
        .page-graffiti-add .row1 > .node107 > .node107_1 .row { display: flex; justify-content: space-between; }
        .page-graffiti-add .row1 > .node107 > .node107_1 .row + .row { margin-top: 8px; }
          .page-graffiti-add .row1 > .node107 > .node107_1 .row > * { flex-basis: calc(50% - 7px); }
          .page-graffiti-add .row1 > .node107 > .node107_1 .row > .l { text-align: right; font-weight: bold; }
    .page-graffiti-add .row1 > .node108 { margin-left: 15px; flex-basis: 233px; }    

    .page-graffiti-add .row1 > .node109 { margin: 0 15px; flex-basis: 255px; }
      .page-graffiti-add .row1 > .node109 > textarea { min-height: 140px; max-width: 540px; min-width: 223px; }
    .page-graffiti-add .row1 > .node110 { flex-grow: 1; }
      .page-graffiti-add .row1 .node110 .descr { display: flex; flex-direction: column; }
      .page-graffiti-add .row1 .node110 .descr > .row { display: flex; justify-content: space-between; }
      .page-graffiti-add .row1 .node110 .descr > .row + .row { margin-top: 8px; }
        .page-graffiti-add .row1 .node110 .descr > .row > .l { text-align: right; font-weight: bold; min-width: 66px; margin-right: 14px;}
        .page-graffiti-add .row1 .node110 .descr > .row > .r { flex-grow: 1; }
  .page-graffiti-add .row2 { display: flex; margin-top: 15px; align-items: flex-start; }
    .page-graffiti-add .row2 .node111 { flex-basis: calc(100% / 3 * 2); margin-right: 15px; }
    .page-graffiti-add .row2 .node112 { flex-basis: calc(100% / 3 * 1); }

.img_upload_wrp { display: flex; flex-wrap: wrap; max-width: calc((120px + 10px) * 5); }
  .img_upload_wrp .image { width: 120px; height: 120px; position: relative; margin: 0 10px 10px 0; display: flex; user-select: none; }
  .img_upload_wrp .image::after { content: ''; width: 100%; height: 100%; display: block; position: absolute; top: 0;box-shadow: inset 0px 0px 0px 1px #dbdbdb; border-radius: 2px; }
    .img_upload_wrp .image img { max-width: 100%; max-height: 100%; margin: auto; display: block; }
  .img_upload_wrp .image.add { color: #b5b5b5; cursor: pointer; }
  .img_upload_wrp .image.add:hover { color: #898989; }
    .img_upload_wrp .image.add svg { max-width: 75%; max-height: 75%; margin: auto; }
  .img_upload_wrp input#openfiledlg { display: none; }
  .img_upload_wrp .image.processing {  }
    .img_upload_wrp .image.processing img { opacity: 0.5; }
  .img_upload_wrp .image .processing_overlay { display: none; }
  .img_upload_wrp .image.processing .processing_overlay { display: block; position: absolute; left: calc((100% - 60px) / 2); top: calc((100% - 60px) / 2); width: 60px; height: 60px; text-shadow: 0px 0px 9px #000; animation: rotate 2s infinite linear; }
  .img_upload_wrp .image.processing::after { opacity: 0.5; }
  .img_upload_wrp .image .controls { position: absolute; width: 100%; height: 100%; background-color: #ffffffa1; z-index: 1; visibility: hidden; opacity: 0; transition: opacity .3s; }
    .img_upload_wrp .image .controls > .sh { width: 100%; height: 100%; display: flex; align-items: center; justify-content: space-between; }
      .img_upload_wrp .image .controls > .sh > .shl,
      .img_upload_wrp .image .controls > .sh > .shr { cursor: pointer; transition: text-shadow .2s; width: 36px; height: 36px; }
      .img_upload_wrp .image .controls > .sh > .shl:hover,
      .img_upload_wrp .image .controls > .sh > .shr:hover { color: #777; }
    .img_upload_wrp .image .controls > .del { position: absolute; top: 6px; right: 6px; width: 24px; height: 24px; color: #f00; display: block; cursor: pointer; transition: text-shadow .2s; }
    .img_upload_wrp .image .controls > .del:hover { color: #ff6000; }
  .img_upload_wrp > .image:not(.processing):not(.add):hover .controls { visibility: visible; opacity: 1; }

.page-authors .table { display: flex; flex-direction: column; border: solid 1px #dbdbdb; margin-bottom: 30px; }
  .page-authors .table .row { display: flex; justify-content: space-between; padding: 10px 0; }
  .page-authors .table .row + .row { border-top: solid 1px #dbdbdb; }
    .page-authors .table .row > * { padding: 0 20px; display: flex; align-items: center; justify-content: flex-end; }
    .page-authors .table .row > * + * { border-left: solid 1px #dbdbdb; position: relative; }
    .page-authors .table .row > * + *::before { content: ''; position: absolute; top: -20px; left: -10px; background-color: #fff; width: 20px; height: 20px; }
    .page-authors .table .row > .col1 { flex-basis: 100px; }
    .page-authors .table .row > .col2 { flex-basis: 96px; justify-content: center; }
    .page-authors .table .row > .col3 { flex-grow: 1; justify-content: flex-start; }
    .page-authors .table .row > .col4 { flex-basis: 100px; }
    .page-authors .table .row > .col5 { flex-basis: 100px; }
    .page-authors .table .row > .col6 { flex-basis: 190px; }
    .page-authors .table .row > .col7 { flex-basis: 100px; }
      .page-authors .table .graffiti-img { width: 56px; height: 75px; display: flex; align-items: center; justify-content: center; }
    .page-authors .table .row.head > * { justify-content: center; }
  .page-authors .navigation { margin-bottom: 30px; }
.page-authors .search { display: flex; flex-direction: column; align-items: center; margin: -43px 0 30px 0; }
  .page-authors .search > .title { display: flex; align-items: center; cursor: pointer; }
    .page-authors .search > .title .icon { width: 13px; height: 14.5px; margin-left: 5px; }
  .page-authors .search > .wrp { width: 100%; display: none; }
  .page-authors .search .row1 { margin: 15px 0; width: 100%; display: flex; align-items: flex-start; }
    .page-authors .search .node108 { margin-right: 15px; }
    .page-authors .search .node122 { margin-right: 15px; display: flex; flex-direction: column; }
      .page-authors .search .node122_1 + .node122_1 { margin-top: 15px; }
        .page-authors .search .node122_1 .rows { display: flex; flex-direction: column; }
          .page-authors .search .node122_1 .rows > .row { display: flex; justify-content: space-between; }
          .page-authors .search .node122_1 .rows > .row + .row { margin-top: 8px; }
            .page-authors .search .node122_1 .rows > .row > .l { text-align: right; min-width: 91px; margin-right: 14px;}
            .page-authors .search .node122_1 .rows > .row > .r { width: 64px; }
    .page-authors .search .node123 { margin-right: 15px; display: flex; flex-direction: column; }
      .page-authors .search .node123_1 { margin-bottom: 15px; }
    .page-authors .search .node124 { display: flex; flex-direction: column; flex-basis: 350px; align-items: flex-start; }
      .page-authors .search .node124_1 { margin-bottom: 15px; }
      .page-authors .search .node124_2 { width: 100%; }
  .page-authors .search .actions-wrapper { justify-content: center; margin-bottom: 0; }

.page-author {  }
  .page-author .row1 { display: flex; align-items: flex-start; }
    .page-author .row1 .node113 { display: flex; flex-direction: column; align-items: center; }
      .page-author .row1 .node113_1 { display: flex; align-items: center; margin-bottom: 15px; }
        .page-author .row1 .node113_1 .link-prev,
        .page-author .row1 .node113_1 .link-next { visibility: hidden; }
          .page-author .row1 .node113_1 .link-prev svg,
          .page-author .row1 .node113_1 .link-next svg { width: 50px; height: 80px; color: #888; }
        .page-author .row1 .node113_1 .author-image { width: 170px; height: 226px; margin: 0 20px; display: flex; align-items: center; justify-content: center; }
          .page-author .row1 .node113_1 .author-image img { cursor: zoom-in; }
      .page-author .row1 .node113_2 { margin-bottom: 15px; min-width: 310px; }
        .page-author .row1 .node113_2 .descr > .row { display: flex; justify-content: space-between; }
        .page-author .row1 .node113_2 .descr > .row + .row { margin-top: 8px; }
          .page-author .row1 .node113_2 .descr > .row > .l { text-align: right; font-weight: bold; min-width: 90px; margin-right: 14px;}
          .page-author .row1 .node113_2 .descr > .row > .r { flex-grow: 1; }
      .page-author .row1 .node113_3 { margin-right: auto; }
        .page-author .row1 .node113_3 .descr { display: flex; flex-direction: column; }
          .page-author .row1 .node113_3 .descr > * + * { margin-top: 7px; }
    .page-author .row1 .node114 { flex-basis: 410px; margin: 0 auto; }
      .page-author .row1 .node114_1 { margin-bottom: 15px; }
        .page-author .row1 .node114_1 .descr { text-align: justify; }
      .page-author .row1 .node114_2 { margin-bottom: 15px; }
        .page-author .row1 .node114_2 .descr > .row { display: flex; justify-content: space-between; }
          .page-author .row1 .node114_2 .descr > .row + .row { margin-top: 8px; }
            .page-author .row1 .node114_2 .descr > .row > .l { text-align: right; font-weight: bold; min-width: 72px; margin-right: 14px;}
            .page-author .row1 .node114_2 .descr > .row > .r { flex-grow: 1; }
      .page-author .row1 .node114_3 .map { background-color: #dbdbdb; width: 350px; height: 230px; margin: 0 auto; }
      .page-author .row1 .node114_3 .map + p { text-align: center; margin-top: 5px; }
    .page-author .row1 .node115 { display: flex; flex-direction: column; }
      .page-author .row1 .node115_1 { margin-bottom: 15px; }
        .page-author .row1 .node115_1 .items > * + * { margin-top: 8px; }
      .page-author .row1 .node115_2 .items { display: flex; }
        .page-author .row1 .node115_2 .items > * + * { margin-left: 15px; }
          .page-author .row1 .node115_2 .items > * p { text-align: center; margin-bottom: 5px; }
          .page-author .row1 .node115_2 .items > * .img { width: 100px; height: 75px; display: flex; align-items: center;}

.page-author-add {  }
  .page-author-add .row1 { display: flex; align-items: flex-start; margin-bottom: 15px; }
    .page-author-add .row1 .node116 { display: flex; flex-direction: column; flex-basis: 348px; margin-right: 15px; }
      .page-author-add .row1 .node116_1 { margin-bottom: 15px; }
        .page-author-add .row1 .node116_1 .descr > .row { display: flex; justify-content: space-between; }
          .page-author-add .row1 .node116_1 .descr > .row + .row { margin-top: 8px; }
            .page-author-add .row1 .node116_1 .descr > .row > .l { text-align: right; font-weight: bold; min-width: 90px; margin-right: 14px;}
            .page-author-add .row1 .node116_1 .descr > .row > .r { flex-grow: 1; }
      .page-author-add .row1 .node116_2 textarea { white-space: pre; overflow-wrap: normal; }
    .page-author-add .row1 .node117 { display: flex; flex-direction: column; align-items: flex-start; flex-basis: 684px; }
      .page-author-add .row1 .node117_1 { margin-bottom: 15px; }
        .page-author-add .row1 .node117_1 textarea { min-height: 150px; min-width: 300px; width: 652px; }
      .page-author-add .row1 .node117_2 { width: 100%; }

.page-tags {  }
  .page-tags .node118 { margin-bottom: 15px; }
    .page-tags .node118 > p { margin-bottom: 13px; }
      .page-tags .node118 > p u { color: #0000ff; margin-left: 0.5em; }
    .page-tags .node118 > div { display: flex; margin-bottom: 15px; min-height: 33px; }
      .page-tags .node118 > div input { flex-basis: 150px; }
      .page-tags .node118 > div .action-btn { display: none; min-width: 98px; margin-left: 8px; }
        .page-tags .node118 > div .action-btn#merge svg { position: relative; top: 3px; }
      .page-tags .node118 > div .arrow { display: flex; align-items: center; font: 900 16px 'Consolas', monospace; margin: 0 8px; }
  .page-tags .node119 > p { margin-top: 50px; }
  .page-tags .node119 .tags { margin-top: 20px; display: flex; flex-wrap: wrap; }
    .page-tags .node119 .tags > * { background-color: #f0f2f5; margin: 0 10px 10px 0; padding: 3px 8px; border-radius: 3px; color: #566d96; font-size: 13px; }
.page-tags .node119 .tags > * b { font-weight: 500; }

.page-help {  }
  .page-help .row1 { margin: 60px 0; }
  .page-help .row2 { display: flex; margin-bottom: 60px; }
    .page-help .row2 > * { flex-basis: calc(100% / 3 - 15px); }
    .page-help .row2 > * + * { border-left: solid 1px #dbdbdb; padding-left: 15px; flex-basis: calc(100% / 3 - 5px); }
      .page-help .row2 > * > p { min-height: 76px; margin-bottom: 15px; }
  .page-help .row3 { margin-bottom: 30px; }
    .page-help .row3 > .contact { text-align: right; }
    .page-help .row3 > p { margin-bottom: 20px; }

.page-login { height: 100%; display: flex; align-items: center; justify-content: center; }
  .page-login .login { border: 1px solid #cdcdcd; box-shadow: 0 0 10px 0 #cccccc; background: #fbfbfb; border-radius: 3px; color: #636363; min-width: 300px; }
    .page-login .login svg { width: 14px; height: 14px; }
    .page-login .login > .title { border-bottom: 1px solid #cdcdcd; margin: 0; padding: 10px 15px; font-size: 14px; text-shadow: 0px 0px 1px currentColor; }
    .page-login .login > .form { padding: 15px; }
      .page-login .login > .form > .input-wrapper { display: flex; margin-bottom: 15px; }
        .page-login .login > .form > .input-wrapper > .icon { color: #5a6573; border: 1px solid #ccc; padding: 6px 10px; border-radius: 3px 0 0 3px; display: flex; align-items: center; }
        .page-login .login > .form > .input-wrapper > input { height: 36px; width: 100%; border-radius: 0 3px 3px 0; border: solid 1px #cdcdcd; border-left: none; padding-left: 10px; outline: none; font-family: inherit; font-size: 14px; }
          .page-login .login > .form > .input-wrapper > input:focus { border-color: #68A6CE }
      .page-login .login > .form > #submit { border: 1px solid #337ca1; display: flex; align-items: center; justify-content: center; background-color: #3d94c0; color: #fff; width: 100%; padding: 6px 0; border-radius: 2px; cursor: pointer; outline: none; }
      .page-login .login > .form > #submit:active { background-color: #337ca1; }
        .page-login .login > .form > #submit > .icon { margin-left: 8px; display: flex; }

